<h1><%= @animal.name %></h1>
<p><%= @animal.animal_type %><br>
<p><%= @animal.last_sighting %><br>
<p><%= @animal.description %><br>

<!-- edit button -->
<form action="/animals/<%= @animal.id %>/edit" method="get">
    <button class="button" type="submit">Edit</button>
</form>

<!-- delete button -->
<form action="/animals/<%= @animal.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button style="background-color: red" class="button" type="submit">Delete</button>
</form>
